# Ignore Python compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore environment / local config files
.env
.env.*    # e.g. .env.local, etc

# Ignore your config file in scripts folder
scripts/config.py

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Ignore data / database / binary files
*.sqlite3
*.db
*.bin
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build / dist / virtualenv
build/
dist/
*.egg-info/
venv/
.env/
